<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let house of houses">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" [src]="house['photoUrl']" alt="Thumbnail [100%x225]">
        <div class="card-body">
          <p class="card-text"><b>{{house['paon']}} {{house['street']}}</b></p>
          <p class="card-text">{{house['postcode']}}</p>
          <p>£{{house['price']}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="this.addBookmark(this.house['id'].toString())">Bookmark</button>
            </div>
            <small class="text-muted"><i class="fa fa-bed"> {{house['bedrooms']}}</i></small>
         </div>
       </div>
    </div>
  </div>
</div>
